@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
   font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;
   line-height: 1.3;
   color: #fff;
}
body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scrollbar-width: none;
   -ms-overflow-style: none;
   background: rgba(20, 20, 20, 1);
}
body::-webkit-scrollbar {
   display: none;
}
